header{
    display: flex;
    font-size: 20px;
    align-items: center;
    background-color: rgb(6, 15, 15);
    width: 100%;
    height: 100px;
    margin: 0px;
    border: 0px;
    justify-content: end;
  }

  
nav{
    display: inline-block;
    font-size: 20px;
    align-self: top;
    align-items: top;
    border-spacing: 1300px;
    width: 100%;
}

#extras{
  display: inline-block;
}

#home{ 
    color: #ffffff;
    padding: 40.2px 80px;   
  }

  #down{ 
    color: #ffffff;
    padding: 40.2px 80px;   
  }

.btn2{
   padding: 80px;
   
}

a:hover{
    background-color: rgb(126, 223, 255);
    cursor: pointer;
}

#link{
  height: 200spx;
  width: 400px;
  background-color: aquamarine;
  margin-right: 100px;
  margin-top: 100px;
  border-radius: 40px;
}  

#show{
  margin-left: 10%;
}

#foot{
  height: 500px;
  width: 400px;
  background-color: aquamarine;
  margin-right: 100px;
  margin-top: 100px;
  border-radius: 40px;
}
h2{
  color: blue;
}

#Msg{
  color: red;
}

#fot{
  margin-top: 20px;
  margin-left: 17px;
}

#shows{
  height: 500px;
  width: 400px;
  background-color: aquamarine;
  margin-right: 100px;
  margin-top: 100px;
  border-radius: 40px;
}  

#west{
  color: blue;
  margin-left: 30px;
}

#inst{
  color: blue;
  margin-left: 30px;
}

#anime{
  color: blue;
  margin-left: 30px;
}

.links{
  font-size: 20px;
  padding-top: 30px;
  color: blue;
}

#kai{
  border-radius: 50%;
}

#intro{
  height: 500px;
  width: 400px;
  background-color: aquamarine;
  margin-right: 100px;
  margin-top: 100px;
  border-radius: 40px;
}

img#bgimg{
  height:auto;
  width: 100%;
  border-style: none;
}

#beta{
  margin-left: 50%;
}

#alpha{
  position: absolute;
  display: flex;
  justify-content:flex-end;
  margin-left: 100px;
}

body{
  margin: 0px;
  background-color: black;
}

h1{
  font-size: 30px;
  color: blue;
  margin-left: 125px;
  margin-top: 20px;
}

.pant{
  margin-left: 120px;
  font-size: 50px;
  color: firebrick;
}

h4{
  margin-left: 45px;
  font-size: 20px;
  color: blue;
}  

#lmid{
   justify-content: end;
   margin-left: 80px
}

h5{
  font-size: 20px;
  margin-left: 35px;
  color: blue;
}

#fmid{
  margin-left: 150px
}

p{
  color: rgb(231, 231, 231);
  font-size: 30px;
}

@media (min-width: 200px) and (max-width: 400px){

  body{
    background-color: Black
  }


  p{
    font-size: 20px;
    color: whitesmoke;
  }

  header{
    justify-content: flex-start;
  }

  header{
   width:100%;
   font-size: 10px;
   background-color: rgb(6, 15, 15);
  }

  body{
    background-image: linear-gradient(to right ,rgb(26, 66, 247), rgb(111, 251, 111));
  }

  #media{
    display: inline-block;
  }

  #alpha{
    display: inline-block;
  }

  #lmid{
    justify-content: center;
  }

  #fmid{
    justify-content: center;
  }

}